## Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.venv/

# Virtual environment
.venv/

# Byte-compiled / logs
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints

# Outputs and large media
/outputs_ultralytics/
/outputs/
/runs/
videos/*.mp4
videos/*.avi
videos/*.mov

# Model weights (large)
*.pt

# IDE
.vscode/
